<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="b606d33b-ba0d-463d-9583-f4e304143638" Publisher="CN=avatar" Version="1.0.0.0" />
  <Properties>
    <DisplayName>AresCal</DisplayName>
    <PublisherDisplayName>avatar</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ArkaneSystems.AresCal.App">
      <VisualElements DisplayName="AresCal" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="AresCal" ForegroundText="light" BackgroundColor="#464646">
        <LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="ArkaneSystems.AresCal.TileUpdater.TileUpdater">
          <BackgroundTasks>
            <Task Type="timer" />
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>