<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ArkaneSystems.AresCal" Publisher="CN=53C0D6B7-57FF-41F4-9798-4276B30D8987" Version="1.0.0.0" />
  <Properties>
    <DisplayName>AresCal</DisplayName>
    <PublisherDisplayName>Arkane Systems</PublisherDisplayName>
    <Logo>Assets\AresCal-StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ArkaneSystems.AresCal.App">
      <VisualElements DisplayName="AresCal" Logo="Assets\AresCal-Logo.png" SmallLogo="Assets\AresCal-SmallLogo.png" Description="AresCal" ForegroundText="light" BackgroundColor="#000000">
        <LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\AresCal-BadgeLogo.png" />
        <DefaultTile ShowName="allLogos" WideLogo="Assets\AresCal-WideLogo.png" ShortName="AresCal" />
        <SplashScreen Image="Assets\AresCal-SplashScreen.png" BackgroundColor="#000000" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="ArkaneSystems.AresCal.TileUpdater.TileUpdater">
          <BackgroundTasks>
            <Task Type="timer" />
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>